style "xfnotifywindow" = "GtkWidget"
{
	XfceNotifyWindow::border-color = "#1793D1"
	XfceNotifyWindow::border-radius = 0.0
	XfceNotifyWindow::border-width = 2
	bg[NORMAL] = "#333333"
}

style "xfnotifytext" = "GtkWidget"
{
	fg[NORMAL] = "#E6E6E6"
	fg[PRELIGHT] = "#E6E6E6"
}

style "xfnotifybutton" = "GtkWidget"
{
}

class "XfceNotifyWindow" style "xfnotifywindow"
widget_class "XfceNotifyWindow.*.<GtkLabel>" style "xfnotifytext"
widget_class "XfceNotifyWindow.*.GtkButton*" style "xfnotifybutton"
