# https://wiki.archlinux.org/index.php/Solid_State_Drives
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="deadline"
