[Unit]
Description=Allow users of group power to change backlight settings

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/bin/chmod 0664 /sys/class/backlight/intel_backlight/brightness; chown root:power /sys/class/backlight/intel_backlight/brightness"
ExecStop=/bin/sh -c "/bin/chmod 0644 /sys/class/backlight/intel_backlight/brightness; chown root:root /sys/class/backlight/intel_backlight/brightness"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
