[Unit]
Description=Backlight permissions toggle

[Service]
Type=oneshot
ExecStart=/opt/haus/bin/hwctl backlight-permissions 0664 root power
ExecStop=/opt/haus/bin/hwctl backlight-permissions 0644 root root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
