[Unit]
Description=MacBook function keys mode toggle

[Service]
Type=oneshot
ExecStart=/opt/haus/bin/hwctl fnmode fn
ExecStop=/opt/haus/bin/hwctl fnmode media
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
