snippet kv "key: value" b
"$1": $0
endsnippet

snippet : "key: value" w
"$1": $0
endsnippet

snippet n "null" w
null
endsnippet

snippet t "true" w
true
endsnippet

snippet f "false" w
false
endsnippet
