snippet f "fn" b
fn $1($2) {
	$0
}
endsnippet

snippet pl "println!" w
println!("$0");
endsnippet

snippet l "let" w
let $0;
endsnippet

snippet lm "let mut" w
let mut $0;
endsnippet

snippet if "if" w
if $1 {
	$0
}
endsnippet

snippet ife "if {} else {}" w
if $1 { $2 } else { $0 }
endsnippet
