snippet f "->"
${1:(${2:x}) }->$0
endsnippet

snippet l "console.log"
console.log($0)
endsnippet

snippet log "console.log"
console.log($0)
endsnippet

snippet .l ".length" w
.length
endsnippet

snippet t "this" w
this
endsnippet

snippet this "$(this)" w
$(this)
endsnippet
