/* https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#for-userchromecss */

#TabsToolbar {
    display: none;
}

#sidebar-header {
    display: none;
}

#sidebar-box {
  min-width: 180px !important;
  max-width: 180px !important;
}

#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
  display: none !important;
  width: 0px !important;
}
